<div class="container">
    <app-top-bar></app-top-bar>
    <div class="homeimgdiv">
        <img src="assets\images\homeimg.png">
    </div>
    <div class="hometextdiv">
        <p class="headertext">Hoş Geldiniz <span class="name-surname">{{nameSurname}},</span></p>
        <p class="headertext">Hızlı ve Güvenilir Kredi Başvuruları</p>
        <p class="normaltext">Kredi Başvurunuz için bir aracı olarak, sizler için çeşitli seçenekler ile hızlı bir kredi
            hesaplama ve
            anında başvuru imkanı sunarak hayatınızı kolaylaştırmak için buradayız. Maddi ihtiyaçlarınızı karşılamak ve
            hayatınızı kolaylaştıracak, hızlı
            ve güvenilir çözümler için yanınızdayız.</p>
        <p class="headertext">Sorunsuz Başvuru Süreci</p>
        <p class="normaltext">Sadece birkaç adımda kredinizi hesaplayın ve başvurunuzu
            tamamlayın. Sonrasında sadece başvurunuz için onay beklemesüreci sizi bekliyor. Artık banka şubeleri yerine
            size sorunsuz bir şekilde kredi hesaplama ve başvurma imkanı sunuyoruz.</p>
        <p class="headertext">Farklı Kredi Seçenekleri</p>
        <p class="normaltext">Her ihtiyaca uygun kredi seçenekleri sunuyoruz. Hangi amaçla olursa olsun, hayatınızın her alanında sizin
            için en uygun kredi seçeneklerini sizlere sunmak için buradayız.</p>
        <p class="headertext">Güvenilir ve Gizli</p>
        <p class="normaltext">Gizlilik ve güvenlik, önceliklerimiz arasında yer alıyor. Kişisel ve finansal
            bilgilerinizin güvenliği
            konusunda titizlikle çalışıyoruz. Bilgilerinizi kesinlikle üçüncü taraflarla paylaşmıyoruz ve tüm
            verileriniz güvenli bir şekilde saklanıyor.</p>
        <p class="headertext">Kredi Başvurunuzu Hemen Yapın</p>
        <p class="normaltext">Hayallerinize, istek ve ihtiyaçlarınıza bir adım daha yaklaşmak için hemen kredi başvurunuzu
            gerçekleştirin! Sitemizdeki oldukça
            basit ve kullanıcı dostu arayüz sayesinde başvurunuzu sadece birkaç dakikada kolay bir şekilde tamamlayabilirsiniz. Size en
            uygun kredi teklifleri için daha fazla beklemeyin ve göz atmaya başlayın.</p>
        <p class="normaltext">Unutmayın, hayatın sunduğu fırsatlar için artık daha fazla beklemenize gerek yok! Siz
            hayal edin, biz kredinizi sizin için hesaplayalım ve
            başvurunuzu gerçekleştirelim.</p>
    </div>
</div>