<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <img class="logo" src="assets\images\top-icon.png" alt="Logo" style="width:40px;">

    <a class="navbar-brand" style="color:white;">Benim Kredim</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="nav navbar-right nav-pills">
            <li class="nav-item">
                <a class="nav-link" routerLink="/anasayfa" routerLinkActive="active">Ana Sayfa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/kredibasvurularim" routerLinkActive="active">Başvurularım</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/kredibasvur" routerLinkActive="active">Krediye Başvur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/bankalar" routerLinkActive="active">Bankalar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/hakkimizda" routerLinkActive="active">Hakkımızda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/giris" routerLinkActive="active" (click)="cikis()">Çıkış</a>
            </li>
        </ul>
    </div>

</nav>